$white: #fff;
$black: #000;
$primary: #006647;
$secondary: #08172B;
$textHeaderWhite: #f5fffc;
$textWhite: #e6e6e6;
$impact: #fff6e5;
$paraColor: #CCCCCC;
$impactText: #332100;
$textHeaderColor: #333333;
$tagColor: #898888;
