@import "./colors";
@import "./variables";
@import "./hero.scss";
@import "./whoWeAreSection";
@import "./aboutPage";
@import "./servicesPage";
@import "./hero";
@import "./impact";
@import "./whoweare";
@import "./getstarted.scss";
@import './portfolio.scss';
@import './portfolioDetails.scss';
