@import "./colors";
@import "./variables";
@import "./animations";
@import "./hero.scss";
@import "./whoWeAreSection";
@import "./aboutPage";
@import "./servicesPage";
@import "./hero";
@import "./navbar";
@import "./blog";
@import "./contact";
@import "./impact";
@import "./whoweare";
@import "./getstarted.scss";
@import "./portfolio.scss";
@import "./portfolioDetails.scss";
@import "./WhatWeOffer.scss";
@import "./WWDone.scss";
@import "./testimonials.scss";
@import "./footer.scss";
