.footer-main {
  width: 100%;
  background-color: #003324;
  min-height: 32rem;
  padding: 2rem;

  .inner-footer {
    border-width: 2px;
    border-style: solid;
    border-color: #006647;
    color: white;
    width: 100%;
    min-height: 25rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    .section-1 {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .section-wrapper {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .footer-section {
        flex: 1;

        h3 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 0.5rem;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: #cccccc;
            }
          }
        }

        .social-icons {
          li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
    }

    .form {
      display: flex;
      gap: 1;
      background-color: transparent !important;
      height: fit-content !important;
      align-content: center !important;
      padding: 0px;

      .form-input {
        border-width: 1px;
        border-style: solid;
        border-color: white;
        color: white;
        height: 3rem !important;
        margin-bottom: 0px !important;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding-left: 0.5rem;
        outline: none;
      }

      .form-btn {
        margin-top: 0px !important;
        background-color: white;
        color: #006647;
        border-radius: 0px;
        height: 3rem !important;
        border-radius: 0px !important;
      }
    }
  }

  .section-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    color: white;
    padding-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;

    .copyright {
      font-size: 0.8rem;
      white-space: nowrap;
    }

    .sub-links-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .sub-link {
        text-decoration: underline;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 768px) {
  .inner-footer {
    flex-direction: column;

    .section-1 {
      width: 100% !important;
    }

    .section-3 {
      display: flex;

      flex-direction: column !important;

      .copyright {
        font-size: 0.3rem;
      }
    }
  }
}
