.heroBgImg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .heroText {
    z-index: 1;
    width: 420px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    color: $textWhite;
    margin-left: 50px;
    h2 {
      font-weight: 700;
      font-size: 46px;
      line-height: 61.6px;
      color: $textHeaderWhite;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 29.6px;
    }
    button {
      background-color: $primary;
      color: $textWhite;
      border-radius: 10px;
      border: 0.8px solid $white;
      padding: 16px 40px;
      width: 205px;
    }
  }
}

@media (min-width: 390px) and (max-width: 560px) {
  .heroBgImg {
    justify-content: center;
    .heroText {
      margin: 150px 0 0 0;
      width: 350px;
      height: 350px;
      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 45.6px;
      }
      button {
        padding: 13px 0;
        width: 200px;
      }
    }
  }
}

@media (max-width: 389px) {
  .heroBgImg {
    justify-content: center;
    .heroText {
      margin: 150px 0 0 0;
      width: 330px;
      height: 320px;
      h2 {
        font-weight: 600;
        font-size: 33px;
        line-height: 42.6px;
      }
      p {
        font-size: 14px;
        line-height: 26.6px;
      }
      button {
        padding: 13px 0;
        width: 170px;
      }
    }
  }
}
