.impact-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $impact;
  height: 190px;
}

.impact-item .circle {
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.suffix,
.number {
  font-size: 2rem;
  font-weight: bold;
  color: $impactText;
}

.label {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: $impactText;
}
.sparkle .circle {
  animation: sparkle 1.5s infinite linear;
}
@media (max-width: 560px) {
  .impact-section {
    height: 150px;
  }
  .impact-item .circle {
    width: 120px;
    height: 120px;
  }
  .number {
    font-size: 1.6rem;
  }
  .label {
    margin-top: 0.3rem;
    font-size: 0.75rem;
  }
}

/* Sparkling animation */
@keyframes sparkle {
  0% {
    border-color: rgba(255, 215, 0, 0);

    box-shadow: 0 0 0px rgba(249, 236, 158, 0.5);
  }
  50% {
    border-color: rgb(253, 235, 143);
    box-shadow: 0 0 20px rgba(249, 234, 152, 0.9);
    // border-color: rgb(248, 227, 104); rgb(255, 246, 229)
    // box-shadow: 0 0 20px rgba(247, 229, 125, 0.9);
  }
  100% {
    border-color: rgba(255, 215, 0, 0);
    box-shadow: 0 0 0px rgba(255, 215, 0, 0);
  }
}
