@mixin flex-center($dir: row) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@mixin titles($color: $textHeaderWhite) {
  font-weight: 600;
  font-size: 2.0625rem; // 33px
  line-height: 2.6625rem; // 42.6px
  color: $color;
  @media (min-width: 48rem) {
    font-size: 2.875rem; // 46px
    line-height: 3.85rem; // 61.6px
  }
}

@mixin paragraph() {
  font-weight: 400;
  font-size: 0.875rem; // 14px
  line-height: 1.6625rem; // 26.6px
  @media (min-width: 48rem) {
    font-size: 1rem; // 16px
    line-height: 1.85rem; // 29.6px
  }
}
@mixin button($bg: $primary) {
  background-color: $bg;
  color: $textWhite;
  border-radius: 0.625rem; // 10px
  border: 0.8px solid $white;
  padding: 0.8125rem 0; // 13px 0
  width: 10.625rem; // 170px
}
@mixin wrapper() {
  width: 100%;
  height: fit-content;
  padding: 0 1rem;

  @media (min-width: 48rem) {
    // 768px
    padding: 0 3.125rem;
  }
}
