* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar_body {
  // background-color: #000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1rem;
  // align-items: center;
}
.header {
  // display: none;
  height: 7rem;
  width: 95%;
  margin-top: 14px;
  margin-left: 28px;
  border-radius: 6.5rem;
  display: flex;
  position: fixed;
  z-index: 50;
  top: 0.5rem;
  align-items: center;
  margin-inline: 20px auto;
  padding-inline: 3rem;
  gap: 7rem;
  background-color: #{$white};

  & h1 {
    font-size: 2rem;
  }
}
.logo-wrapper {
  width: 23rem;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h1 {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.2rem;
    }
  }
}

.navbar {
  // border: 1px solid;
  height: 3rem;
  // display: flex;
  width: 60%;
  Link {
  }
  & div {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    & .link {
      text-decoration: none;
      font-size: 1rem;
      color: black;
      font-weight: bold;

      &.active {
        color: #006647;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 7px;
      }
    }
  }
}
#cta-btn {
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #{$primary};
  color: #{$white};
}
#cta-btn:hover {
  filter: brightness(120%);
}
.mobile-nav {
  background: #fafafa;
  padding: 0.3rem;
  color: #1a1a1a;
  position: fixed;
  z-index: 50;
  top: 0rem;
  left: 0;
  width: 100%;

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
  }

  .menu-toggle {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #1a1a1a;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    text-align: center;

    &.open {
      display: flex;
      gap: 1rem;
    }

    .link {
      padding: 0.3rem 0;
      color: #1a1a1a;
      text-decoration: none;
      font-size: 1rem;
    }

    .btn-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        background-color: #006647;
        color: #fafafa;
        width: 80%;
      }
    }
  }
}
.footer {
  background-color: #003324;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2.5rem;
  width: 100%;
  height: 28rem;
  color: #{$white};
}
.main-footer {
  border: 1px solid #006647;
  display: flex;
  width: 87%;
  height: 20rem;
  justify-content: space-around;
}
.engage {
  width: 39rem;
  padding-inline: 2.1rem;
  padding-block: 2rem;
  margin-left: 1rem;
  & h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  & p {
    margin-bottom: 1.2rem;
  }
  #priv-pol {
    margin-top: 1.2rem;
    & a {
      color: #{$white};
    }
  }
}
.footer-lists {
  width: 39rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
#input:focus {
  border: 1px solid gray;
}
.footer-info {
  padding-block: 2rem;
  // padding-inline: 2.1rem;
  & li {
    list-style-type: none;

    & a {
      text-decoration: none;
      color: #{$white};
      font-weight: 500;
    }
  }
}
.footer-info-title {
  font-size: 1.3rem;
  font-weight: bolder;
}
.footer-info-last {
  margin-right: 2.1rem;
}
.copyrights {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 87%;
  height: 3.5rem;
  margin-top: 0.5rem;

  & ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    & li a {
      color: #{$white};
    }
  }
}

.main-layout {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
//
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .header {
    display: none;
  }
}
