* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar_body {
  // background-color: #000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1rem;
  // align-items: center;
}
.header {
  // display: none;
  height: 7rem;
  width: 100%;
  margin-top: 14px;
  margin-left: 28px;
  border-radius: 6.5rem;
  display: flex;
  position: fixed;
  top: 0.5rem;
  align-items: center;
  margin-inline: 20px auto;
  padding-inline: 3rem;
  gap: 7rem;
  background-color: #{$white};

  & h1 {
    font-size: 2rem;
  }
}
.logo-wrapper {
  width: 23rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  // border: 1px solid;
  height: 3rem;
  // display: flex;
  width: 60%;
  Link {
  }
  & div {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    & .link {
      text-decoration: none;
      font-size: 1rem;
      color: black;
      font-weight: bold;
    }
  }
}
#cta-btn {
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #{$primary};
  color: #{$white};
}
#cta-btn:hover {
  filter: brightness(120%);
}
.mobile {
  width: 100%;
  background-color: transparent;
  // height: 100vh;
  display: none;
}
.mobile-nav {
  // display: none;
  width: 100%;
  height: 90vh;
  background-color: #{$primary};
  padding-block: 3.5rem;
  & ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    & li a {
      text-decoration: none;
      color: #{$white};
      font-weight: bold;
    }
  }
}
.hamburger-toggle {
  width: 2rem;
  height: 2rem;
  margin-inline: 1rem;
  margin-block: 1rem;
  background-color: #{$white};
}
.hamburger-toggle::before {
  content: "\2262";
}
.footer {
  background-color: #{$primary};
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2.5rem;
  width: 100%;
  height: 28rem;
  color: #{$white};
}
.main-footer {
  border: 1px solid #{$white};
  display: flex;
  width: 87%;
  height: 20rem;
  justify-content: space-around;
}
.engage {
  width: 39rem;
  padding-inline: 2.1rem;
  padding-block: 2rem;
  margin-left: 1rem;
  & h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  & p {
    margin-bottom: 1.2rem;
  }
  & form input {
    height: 3rem;
    width: 23.5rem;
    margin-right: 1rem;
    background-color: #{$primary};
    border: 1px solid gray;
  }
  & form button {
    color: #{$primary};
    background-color: #{$white};
    height: 3rem;
    width: 7rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  #priv-pol {
    margin-top: 1.2rem;
    & a {
      color: #{$white};
    }
  }
}
.footer-lists {
  width: 39rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
#input:focus {
  border: 1px solid gray;
}
.footer-info {
  padding-block: 2rem;
  // padding-inline: 2.1rem;
  & li {
    list-style-type: none;

    & a {
      text-decoration: none;
      color: #{$white};
      font-weight: 500;
    }
  }
}
.footer-info-title {
  font-size: 1.3rem;
  font-weight: bolder;
}
.footer-info-last {
  margin-right: 2.1rem;
}
.copyrights {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 87%;
  height: 3.5rem;
  margin-top: 0.5rem;

  & ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    & li a {
      color: #{$white};
    }
  }
}
//
// @media (max-width: 768px) {
//   .mobile {
//     display: block;
//   }
//   .header {
//     display: none;
//   }
//   .footer {
//     height: 42rem;
//     width: 100%;
//     position: relative;
//   }
//   .main-footer {
//     display: flex;
//     flex-direction: column;
//     height: 76%;
//     border: 1px solid;
//     position: absolute;
//     top: 2rem;
//     // width: 100%;
//   }
//   .engage {
//     width: 100%;
//     padding: 0;
//     // border: none;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 2rem;
//   }
//   .logo-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // margin-top: 2rem;
//   }
//   form.sub-cta {
//     display: flex;

//     & input {
//       width: 20rem;
//     }
//     & button {
//       width: 30%;
//       margin-right: 1.6rem;
//     }
//   }
//   .footer-lists {
//     width: 100%;
//     height: 15rem;
//     gap: 2.5rem;

//     // display: flex;
//     justify-content: space-around;
//     // gap: 1rem;
//   }
//   .footer-info-items {
//     margin-block: 0.7rem;
//   }
//   .copyrights {
//     position: absolute;
//     bottom: 4rem;
//   }
// }
