.tes-main {
  width: 100%;
  min-height: 100dvh;
  position: relative;

  .inner-tes {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgb(252, 242, 222, 0.8);
    padding: 7rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .review-card-wrapper {
    display: flex;
    gap: 3rem;
    overflow-x: scroll;
  }
}

.review-card {
  background-color: white;
  height: 27rem;
  width: 36rem;
  flex: 1 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-img {
    width: 7rem;
  }

  .card-name {
    font-size: 2rem;
  }

  .card-location {
    font-size: 1.2rem;
  }

  .quote-text {
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 1.4rem;
  }

  .review-card {
    width: 100%;
    height: 20rem;

    .card-img {
      width: 4rem;
    }

    .card-name {
      font-size: 1.7rem;
    }

    .card-location {
      font-size: 1rem;
    }

    .quote-text {
      font-size: 0.9rem;
    }
  }
}
