.card_Container {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  max-width: 30rem;
  .image-container {
    width: 100%;
  }
  img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 23px;
    color: #333333;
    margin: 0.22rem 0;
  }
  h3 {
    color: #1f5cad;
    font-size: 16px;
    margin-top: 0.48rem;
  }

  .frameWork {
    display: flex;
    gap: 15px;
    margin: 0.44rem 0;
  }
  .frameWork .span {
    padding: 5px 8px;
    background-color: #f2f2f2;
    border-radius: 18px;
    font-size: 14.6px;
  }
}
