.WWAContainer {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  .WWA {
    height: 350px;
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .WWAImg {
      height: 100%;
      flex-basis: calc(50% - 40px);
      object-fit: cover;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;
      }
      &:before {
        content: "";
        position: absolute;
        top: -6.5px;
        right: -6.5px;
        background-color: $primary;
        height: 180px;
        width: 220px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -6.5px;
        left: -6.5px;
        background-color: #174582;
        height: 180px;
        width: 220px;
      }
    }
    .WWAText {
      display: block;
      flex-basis: calc(50% - 40px);
      .WWATitle {
        color: $primary;
        display: flex;
        gap: 8px;
      }
      h3 {
        font-size: 25px;
        margin-bottom: 20px;
      }
      p {
        text-align: justify;
      }
      button {
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: $primary;
        color: $textWhite;
        border-radius: 10px;
        border: 0.8px solid $white;
        padding: 16px 40px;
        width: 205px;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 560px) {
  .WWAContainer {
    height: auto;
    margin-top: 40px;
    .WWA {
      height: auto;
      flex-direction: column;
      margin: 0 25px;
      .WWAImg {
        &:before {
          top: -5.5px;
        }
        &:after {
          bottom: 0;
          left: -5.5px;
        }
      }
      .WWAText {
        .WWATitle {
          margin-bottom: 8.5px;
        }
        h3 {
          font-size: 21px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        button {
          width: 165px;
          padding: 14px 0;
          justify-content: center;
          //   text-align: center;
        }
      }
    }
  }
}
